html(lang='en')
  head
    link(rel='icon', href='../MYR-Logo.png', type='image/png', sizes='16x16')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title MYR - Error
  body
          h1 An Error Occured
          p
          | Error: #{title}
          p
            | Error Message: #{error}
          p
            | If this keeps happening, please contact 
            a(href='mailto:webmaster@learnmyr.org', target='_blank') webmaster@learnmyr.org
            | .
      footer
          | Developed by the Engaging Computing Group at UMass Lowell.