footer {
    color: #222;
    background: #fff;
  }

  .team-title{
    font-style: italic;
  }

  .team-degree{
    font-weight: bold;
  }

  .team-photo{
    border-radius: 25px;
    float: left;
    margin-right: 10px;
    max-height: 150px;
    max-width: 200px;
  }

  .team-icons{
    font-size: 30px;
    color: #000000;
    padding-right: 25px;    
  }


  blockquote {
    border-left: 2px solid #ccc;
    padding: 0.5em 10px;
  }

  .col-centered{
    float: none;
    margin: 0 auto;
}

.info-card{
    margin-bottom: 10px;
}